# Conexión a Neon PostgreSQL (Obtenida desde el Dashboard de Neon.tech)
DATABASE_URL=postgresql://neondb_owner:npg_aYevBryxW35P@ep-curly-bonus-awrpx4b1.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require

# Contraseña de Administrador para que el cliente pueda editar la web
ADMIN_PASSWORD=AirPremier2026!

# Clave secreta para firmar los tokens de sesión
JWT_SECRET=super_secret_jwt_key_airpremier_2026
